:host {
  padding: 15px;
  background: linear-gradient(to right, var(--primary), var(--accent));
  background-size: 250%;
  color: white;
  border-radius: 7px;
}
:host:nth-of-type(odd) {
  background: var(--accent);
  color: white;
}
.action-section {
  display: flex;
  gap: 0.5rem;
}
.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.field.actions {
  align-self: flex-end;
}
img {
  border-radius: 50%;
  width: 98px;
}
