$dodgerblue-palette: (
  50: #f0f7fe,
  100: #d9e5fd,
  200: #afc8fb,
  300: #86aaf9,
  400: #5992f7,
  500: #1e90ff,
  600: #1c80e6,
  700: #196fbf,
  800: #165f99,
  900: #124f73,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  ),
);
